POSTGRES_DB=ecommerce
POSTGRES_USER=ecom_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD
API_HOST_PORT=5071

Cors__AllowedOrigins__0=https://admin.seudominio.com
Cors__AllowedOrigins__1=https://www.seudominio.com

Jwt__Issuer=ecommerce-api
Jwt__Audience=ecommerce-admin
Jwt__SecretKey=CHANGE_ME_LONG_RANDOM_SECRET
Jwt__AccessTokenMinutes=60
Jwt__RefreshTokenDays=7

Auth__AllowInsecureCookiesInDevelopment=false
Database__UseInMemory=false
Database__SeedData=false

Payments__Provider=MercadoPago
Payments__MercadoPago__AccessToken=CHANGE_ME
Payments__MercadoPago__WebhookSecret=CHANGE_ME
Payments__MercadoPago__WebhookUrl=https://api.seudominio.com/api/webhooks/mercadopago
Payments__MercadoPago__Currency=BRL

Email__Provider=SendGrid
Email__FromEmail=no-reply@seudominio.com
Email__FromName=SuaLoja
Email__BaseUrl=https://www.seudominio.com
Email__SendGrid__ApiKey=CHANGE_ME

Sentry__Dsn=
Sentry__TracesSampleRate=0.05
Sentry__SendDefaultPii=false

Observability__EnableOpenTelemetry=false
Observability__OtlpEndpoint=
